@charset "UTF-8";
body {
	background-image: url("images/background.png");
	background-color: #000;
	background-repeat: no-repeat no-repeat;
	background-size: 100vw 100vh;
	min-width: 1200px;
	margin: 0;
}

@font-face {
	font-family: FaxineSky;
	src: url("fonts/faxine-sky-bold.ttf");
}

* {
	font-family: FaxineSky !important;
}

p {
	margin: 0;
}

.neon {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	border: none;
	font: normal 35px/normal "Warnes", Helvetica, sans-serif;
	color: rgba(255,255,255,1);
	text-decoration: normal;
	text-align: center;
	-o-text-overflow: clip;
	text-overflow: clip;
	white-space: pre;
	text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

#board-container {
	background: url("images/board-background.png") no-repeat center;
	background-size: contain;
	position: relative;
	text-align: center;
	width: 50%;
	min-height: 344px;
	max-width: 484px;
	margin: 40px auto 0 auto;
}

.blue-low-light {
	font: normal 20px/normal "Warnes", Helvetica, sans-serif;
	color: #20CDCE;
	text-decoration: normal;
	text-shadow: 0 0 30px #20CDCE, 0 0 0px #20CDCE, 0 0 0px #20CDCE, 0 0 0px #20CDCE, 0 0 0px #20CDCE, 0 0 0px #20CDCE, 0 0 0px #20CDCE;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

nav {
	position: absolute;
	right: 0;
}

nav ul {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
}

.nav-text {
	display: inline-block;
	box-sizing: border-box;
	padding: 10px;
	border: none;
	font: normal 30px/normal "Warnes", Helvetica, sans-serif;
	color: #20CDCE;
	text-decoration: normal;
	text-shadow: 0 0 30px #20CDCE, 0 0 0px #20CDCE, 0 0 0px #20CDCE, 0 0 0px #20CDCE, 0 0 0px #20CDCE, 0 0 0px #20CDCE, 0 0 0px #20CDCE;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

nav ul li {
	display: inline;
	margin: 0 0.2vw;
}

nav ul li::before {
	/*content: url("images/nav-side-column.png");*/
}

#balance {
	margin: 0;
}

#balance-container {
	width: 30%;
	margin: 0 auto;
	text-align: center;
	padding-top: 18px;
}

#chance-container {
	width: 37%;
}

#chat-left-bound {
	position: absolute;
}

#chat-container {
	position: relative;
	height: 358px;
	width: 290px;
	left: 6%;
	float: left;
}

#chat-inner-upper-bound {
}

#chat-outer-upper-bound {
}

#chat-right-bound {
	right: 0;
	position: absolute;
}

#chat-outer-lower-bound {
	position: absolute;
	bottom: 0;
}

#chat-inner-lower-bound {
	position: absolute;
	bottom: 47px;
}

.chat-horizontal-bound {
    left: 12px;
    position: absolute;
}

#chat-input {
	outline: none;
	background-color: none;
	background-color: transparent;
	border: none;
	color: #20CDCE;
	position: absolute;
	bottom: 20px;
	left: 20px;
	width: 85%;
}

#clock-container {
	position: absolute;
	background-image: url("images/clock-frame.png");
	background-position: center;
	height: 196px;
	right: 3%;
	top: 0;
	width: 181px;
	display: inline;
	transform: translateY(50%);
}

.clock-hand {
	position: absolute;
}

#clock-minute-hand {
	right: 76px;
	top: 42px;
	transform-origin: 29% 79%;
}

#clock-hour-hand {
	right: 84px;
	top: 60.5px;
	transform-origin: 62% 68%;
}

#chat-title {
	margin: 12px 0px 5px 0;
	text-align: center;
}

#mid-content {
	position: relative;
	min-height: 355px;
}

#bet-section {
	width: 50%;
	float: left;
}

#comp-section {
	width: 50%;
	float: right;
}

.stats-section {
	display: inline-block;
	text-align: center;
}

#stats {
	min-height: 32%;
	width: 100%;
}

#stats-mid-content {
	position: relative;
}

.vertical-hr {
	width: 2px;
	height: 355px;
	position: absolute;
	left: 50%;
	background-color: #1787A0;
	top: -8px;
}

.vertical-hr-dashed {
	width: 2px;
	height: 355px;
	position: absolute;
	background: repeating-linear-gradient(0deg,
		#0E5362, #0E5362 5px, transparent 5px,
		transparent 10px );
	top: -8px;
}

#outcome-container, #bet-amount-container {
	display: inline-block;
	padding-top: 65px;
	margin: 0px 20px;
}

#coin-sides {
	width: 75%;
	margin: 0 auto;
}

#heads-button {
	float: left;
}

#heads-button:focus {
	outline: none;
}

#tails-button {
	float: right;
}

#tails-button:focus {
	outline: none;
}

#low-grav {
	background: url("images/board-smaller-button.png") no-repeat center;
	float: left;
	width: 35px;
	height: 35px;
	line-height: 35px;
	font-size: 13px;
}

#medium-grav {
	background: url("images/board-medium-button.png") no-repeat center;
	width: 43px;
	height: 43px;
	display: inline-block;
	margin-top: 12px;
	line-height: 43px;
}

#high-grav {
	background: url("images/board-smaller-button.png") no-repeat center;
	float: right;
	width: 35px;
	text-align: center;
	vertical-align: middle;
	height: 35px;
	line-height: 35px;
	font-size: 13px;
}

#gravity-container {
	width: 45%;
	margin: 6px auto 0 auto;
	padding-right: 5px;
}

#coin-type-container {
	position: absolute;
	display: grid;
	grid-row-gap: 9px;
	top: 50%;
	transform: translateY(-50%);
	right: 40px;
}

#coin-1, #coin-3 {
	background: url("images/board-small-button.png");
	height: 40px;
	line-height: 40px;
	width: 40px;
}

#coin-1 {
}

#coin-3 {
}

#coin-2 {
	background: url("images/board-big-button.png");
	height: 61px;
	line-height: 61px;
	width: 60px;
}

#outcome-coin {
    width: 200px;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 50%;
    transform: rotateX(0deg);
    z-index: 2;
    transition: 0.6s;
    transform-style: preserve-3d;
}

#outcome-coin-backface {
    width: 200px;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    transform: rotateX(180deg);
    transition: 0.6s;
    transform-style: preserve-3d;
    left: 50%;
}

#outcome-display {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    height: 200px;
}

#outcome-display:hover #outcome-coin {
	/* reference: https://davidwalsh.name/css-flip */
	transform: rotateX(180deg);
}

#outcome-display:hover #outcome-coin-backface {
	transform: rotateX(0deg);
}
#outcome-display:hover #outcome-coin {
	transform: rotateX(180deg);
}

.blue-hr {
	background-color: #14768C;
	height: 1px;
    	border: 0;
}

