<div id="chat-container">
	<img class="chat-horizontal-bound" id="chat-outer-upper-bound"
		src="{{ url_for('static', filename='images/chat-outer-upper-bound.png') }}">
	<p id="chat-title" class="blue-low-light">CHAT</p>
	<img class="chat-horizontal-bound" id="chat-inner-upper-bound"
		src="{{ url_for('static', filename='images/chat-inner-upper-bound.png') }}">
	<img id="chat-left-bound"
		src="{{ url_for('static', filename='images/chat-left-bound.png') }}">
	<img id="chat-right-bound"
		src="{{ url_for('static', filename='images/chat-right-bound.png') }}">


	<img class="chat-horizontal-bound" id="chat-inner-lower-bound"
		src="{{ url_for('static', filename='images/chat-inner-lower-bound.png') }}">
	<img class="chat-horizontal-bound" id="chat-outer-lower-bound"
		src="{{ url_for('static', filename='images/chat-outer-lower-bound.png') }}">
</div>
